*
!*/
!/.gitignore
!/.editorconfig

# Github and build script
!/.github/**/*.md
!/.github/**/*.yml
!/gradle/wrapper/gradle-wrapper.jar
!/gradle/wrapper/gradle-wrapper.properties
!/src/**

# Metadata
!/build.gradle
!/gradle.properties
!/gradlew
!/gradlew.bat
!/LICENSE.md
!/README.md
!/icon.png